.container-custom{
    height: 100%;
    width: 50%;
    margin-left: 25%;
}

.grid-container{
    display: grid;
    background-color: #ECEDF6;
    margin-top: 10px;
    border-radius: 10px;
}

.grid-items{
    padding: 10px;
    border-radius: 3px;
    margin: 10px;
    background-color: white;
}
.d-flex{
    align-items: center;
}

.d-flex-cus{
   display: flex;
   text-align: left;
   padding-left: 15px;   
}


.bg-light-custom{
    background-color: #dfdfdf;
}


